* {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    color: #F0EBD8;
}

body {
    margin: 0px;
}

img {
    height: auto;
    width: 100%;
}

input,
textarea {
    border: none;
    border-radius: 5px;
    text-indent: 5px;
    margin: 2px 0px;
    padding: 0px;
}

input {
    height: 25px;
}


input:focus-visible {
    outline: none;
}

label {
    font-size: 14px;
    color: white;
}

button {
    cursor: pointer;
}


/*////////////////
//////HEADER//////
///////////////*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
    background-color: #031D44;
    height: 62px;
}


.headerlogo {
    cursor: pointer;
    max-width: 120px;
    min-width: 100px;
}


.headerNav {
    font-size: 26px;
}

nav {
    padding-right: 300px;
}

#CurrentNav {
    text-decoration: underline 7px;
}

#hamburgerMenuBtn {
    display: none;
}

#normalMenu {
    display: block;
}

.showHamburgerMenu {
    position: absolute;
    left: 0;
    top: 70px;
    background-color: #031D44;
    width: 100%
}

.hamburgerMenu {
    position: absolute;
    display: none;
    left: 0;
    top: 70px;
    background-color: #031D44;
    width: 100%
}

@media only screen and (min-width: 751px) {

    .showHamburgerMenu,
    .hamburgerMenu {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    #hamburgerMenuBtn {
        display: block;
        height: auto;
        max-width: 40px;
        min-width: 40px;
        cursor: pointer;
    }

    #normalMenu {
        display: none;
    }
}



/*////////////////
//////FOOTER//////
///////////////*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #031D44;
    display: flex;
    justify-content: space-between;
    padding: 5px 2%;
    height: 62px;
}

#footerP {
    margin: 0px;
    color: #F0EBD8;
}

.footerPostal {
    margin: auto;
}

#footerVisa {
    margin-right: 50px;
}

/*////////////////
///LANDINGPAGE///
///////////////*/


#mainMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}



@media only screen and (max-width: 1400px) {
    #mainMenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #mainMenu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3px;
    }
}


#news,
#women,
#men,
#bestsellers,
#alpine,
#hiking {
    position: relative;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    color: #F0EBD8;
}

h2 {
    position: absolute;
    height: 28px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0EBD8;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background-color: #245980d3;
    text-align: center;
    width: 100%;
}

/*////////////////
//////ABOUT//////
///////////////*/

#aboutBody {
    height: calc(100vh - 144px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#aboutInnerBody {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 680px) {
    #aboutInnerBody {
        flex-direction: column;
    }
}



#aboutText {
    width: 300px;
    background-color: #031D44;
    color: #F0EBD8;
    border-radius: 10px;
    padding: 20px;
}

#aboutImgContainer {
    border-radius: 10px;
    width: 340px;
    height: auto;
}

#aboutImg {
    border-radius: 10px;
}

/*///////////////
/////CONTACT////
/////////////*/

#contactContainer {
    display: flex;
    gap: 10px;

}

#contactBody {
    height: calc(100vh - 144px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
}

#contactHeader {
    margin-top: 0px;
}

#contactLeft {
    width: 300px;
}

#contactLeftBox {
    background-color: #031D44;
    color: #F0EBD8;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactLeftBoxText {
    padding: 20px;
}

#contactLeftBoxFooter {
    display: flex;
}

#contactRight {
    width: 300px;
}

#contactTextarea {
    width: 100%;
    resize: none;
}

#contactTextarea:focus-visible {
    outline: none;
}

#contactForm {
    display: grid;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding: 4%;
}

#submitBtn {
    color: #031D44;
    background-color: #F9AB55;
    cursor: pointer;

}

form {
    font-size: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5%;
    background-color: #031D44;
}


.formError {
    color: crimson;
    font-size: 12px;
}

#nameError,
#emailError,
#messageError {
    display: none;
}

@media only screen and (max-width: 600px) {

    #contactRight,
    #contactLeft {
        width: 240px;
    }
}



/*///////////////
/////RECEIPT////
/////////////*/

#receiptTable {
    border: 1px solid black;
    width: 350px;
}

/*Just for display*/
.receiptTableHeader {
    padding-bottom: 50px;
}

th {
    text-align: left;
}

#continueShopping {
    background-color: #F9AB55;
    width: 250px;
    height: 35px;
}

/*///////////////
/////LISTING////
/////////////*/

#listingSorting {
    padding: 5px 0px;
    width: 369px;
    margin: auto;
}

.listingDropdown {
    border: solid grey 1px;
    background-color: #B2CEDE;
    color: #031D44;
    width: 120px;
    height: 30px;
}

.listingJackets {
    display: flex;
    flex-wrap: wrap;
}

.listingSingleJacket {
    width: 205px;
    margin: 0%;
}

#jacket {
    height: auto;
    width: 200px;
}

.jacketDescription {
    margin: 0%;
}

.jacketDescriptionBox {
    width: 200px !important;
}


/*///////////////
/////DETAILS////
/////////////*/

#detailsImgBig {
    height: auto;
    width: 400px;
}

#detailsImgSmall {
    height: auto;
    width: 200px;
}

#detailsBodyBox {
    display: flex;
    justify-content: center;
}

#detailsBody {

    display: flex;
    gap: 30px;
}

.sizeBtn {
    width: 40px;
    background-color: #fff;
    border: 1px solid #031D44;
}

.sizeBtn:focus {
    background-color: #F9AB55;
}

@media only screen and (max-width: 800px) {
    #detailsBody {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

#detailsDescriptionBox {
    width: 300px;
}

#detailsAdd {
    width: 100%;
    height: 40px;
    color: #F9AB55;
    background-color: #031D44;
}

/*///////////////
/////CHECKOUT///
/////////////*/

#checkoutBodyBox {
    height: 160vh;
}

#checkoutBody {
    padding-right: 20px;
    width: 50%;

}

.checkoutBanner {
    height: 35px;
    width: 100%;
    background-color: #031D44;
    color: #F0EBD8;
    margin-bottom: 10px;
}

.bannerText {
    margin-left: 7px;
    font-size: 20px;
    padding-top: 5px;
}

#amountBox {
    border: 1px solid black;
    padding: 0px 4px;
    margin: 0px 4px;
}

#checkoutListing {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#checkoutForm {
    display: flex;
    flex-direction: column;
}

.checkoutFormFields {
    display: flex;
    flex-direction: column;
}

#checkoutVisa {
    height: auto;
    min-width: 50px;
}

#checkoutVisaBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#completePurchase {
    background-color: #F9AB55;
    color: #031D44;
    height: 35px;
    width: 100%;
}


#checkoutBodyBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#cuponCode {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cuponLabel {
    color: #031D44;
    font-size: 16px;
}

#cuponCodeField {
    width: 100%;
    border: 1px #031D44 solid;
}

#noForm {
    border: white !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }